.carousel {
  width: 500px;
  height: 300px;
  outline: 1px solid salmon;
  white-space: nowrap;
  overflow: hidden;
  /* zoom: 0.25; */
  margin: 0 auto;
}
.carousel > img {
  width: 100%;
  height: 100%;
  /* transition: transform 1s; */
}

* {
  background-color: salmon;
}